<div style="margin-left: 15%;margin-right: 15%;">
    <form [formGroup]="validationForm" (ngSubmit)="login()" autocomplete="false">

        <h1 class="text-center text-primary">Login</h1>
        <br>
        <!-- <label style="text-align: left !important;">Email *</label> -->
        <div class="form-group">
            <input type="text" id="userName" formControlName="userName" class="form-control" placeholder="Email">
        </div>

        <div class="form-group">
            <!-- <label>Senha *</label> -->
            <input type="password" formControlName="password" id="password" class="form-control" placeholder="Senha">
            <!-- <input type="password" id="inputPassword" class="form-control" placeholder="Confirm password" required=""> -->
        </div>
        <br>
        <div class="form-group text-center">
            <!-- <button class="btn btn-secondary mr-2"  (click)="cancel()" type="submit">Cancel</button> -->
            <button class="btn btn-success mr-2" style="width: 100%;" [disabled]="!validationForm.valid"
                type="submit">Entrar</button>
            <!-- <p class="mt-5 mb-3 text-muted">© Desafio MostQI - 2021</p> -->
            <p class="mt-5 mb-3 text-muted">Não tem uma conta? <a (click)="cancel()"
                    style="color: blue;cursor: pointer;">Registrar </a></p>
        </div>
    </form>
</div>