<h2 style="margin-bottom: 3%;text-align: center;" *ngIf="isNewClient">Novo Cliente</h2>
<h2 style="margin-bottom: 3%;" *ngIf="!isNewClient">Editar Cliente</h2>


<form class="form-validation" [formGroup]="validationForm" (ngSubmit)="saveClient()">


  <div class="row" style="display: flex;justify-content: space-evenly;flex-wrap: nowrap ">
    <div class="column" style="float: inherit;">
      <div class="row" style="margin: auto;">
        <div class="form-group" style="width: 47%;margin-right: 2%;">
          <label for="userName">Email </label>
          <input type="email" formControlName="userName" class="form-control" id="userName" aria-describedby="emailHelp"
            placeholder="Inserir Email">
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group" style="width: 47%;">
          <label for="nome">Nome</label>
          <input type="text" formControlName="nome" class="form-control" id="nome" placeholder="Inserir Nome">

        </div>
      </div>

      <div class="form-group" style="margin-right: 3%;">
        <label for="rg">RG</label>
        <input type="text" formControlName="rg" class="form-control" id="rg" placeholder="Inserir RG">

      </div>
      <div class="form-group" style="margin-right: 3%;">
        <label for="nascimento">Data de Nascimento</label>
        <input type="text" formControlName="nascimento" required class="form-control" id="nascimento"
          placeholder="Inserir Nascimento">

      </div>
      <ng-container *ngIf="isNewClient">
        <div class="form-group" style="margin-right: 4%;">
          <label for="password">Senha</label>
          <input type="password" formControlName="password" class="form-control" id="password"
            placeholder="Inserir Senha">

        </div>
        <div class="form-group" style="margin-right: 3%;">
          <label for="password2">Confirmar Senha</label>
          <input type="password" formControlName="password2" class="form-control" id="password2"
            placeholder="Confirmar Senha">

        </div>
      </ng-container>
    </div>
    <div class="column" style="text-align: center; width: 50%;">

      <!-- <label>Imagem do RG</label> -->
      <fieldset style="margin-bottom: 1%;">
        <div *ngIf="imageError" class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          {{imageError}}
        </div>

        <div class="custom-file fileInputProfileWrap" style="text-align: center;">
          <input type="file" (change)="fileChangeEvent($event)" class="fileInputProfile">
          <div class="img-space" >

            <ng-container *ngIf="isImageSaved; else elseTemplate">
              
              <img *ngIf="!imagePath" src="../../assets/avatar.png" alt="Avatar" style="width: 50%;" class="avatar">
              <img *ngIf="imagePath" [src]="imagePath" alt="Avatar" class="avatar">
            </ng-container>
            <ng-template #elseTemplate>

              
              <img src="./../../assets/placeholder.jpg" style="size: 20%;" class="img-responsive">
            </ng-template>

          </div>

        </div>
      </fieldset>
      <a class="btn btn-danger" (click)="removeImage()" *ngIf="isImageSaved">Remove</a>
    </div>


  </div>

  <button type="submit" style="float: right;margin-bottom: 5%; margin-top: 3%;" class="btn btn-primary btn-lg"
    [disabled]="!validationForm.valid">Salvar</button>
</form>


<button *ngIf="!isNewClient" style="float: left;margin-bottom: 5%;margin-top: 3%;" class="btn btn-secondary btn-lg"
  (click)="backToHome()">Voltar</button>

<!-- 
<button  style="float: left;margin-bottom: 5%;margin-top: 3%;" class="btn btn-secondary btn-lg"
  (click)="openConfirmDialog()">Modal</button> -->