<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container-fluid">
        
        <a class="navbar-brand" style="color: white;cursor: pointer;">Desafio MostQI</a>
        
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <ng-container *ngIf="accountService.currentUser$ | async">
                <ng-container *ngIf="(accountService.currentUser$ | async).isColaborador">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="clientes/" routerLinkActive='active'>Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="cliente-details"  routerLinkActive='active'>Cadastro de
                            Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " routerLink="historico/" routerLinkActive='active'>Histórico</a>
                    </li>
                </ng-container>
                <ng-container *ngIf="! (accountService.currentUser$ | async).isColaborador ">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="dolar/" routerLinkActive='active'>Cotação Dolar</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" routerLink="lists/" routerLinkActive='active'>Modulo 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " routerLink="messages/" routerLinkActive='active'>Modulo 3</a>
                    </li> -->
                </ng-container>



            </ng-container>
        </ul>
        <div *ngIf="(accountService.currentUser$ | async) as user" class="dropdown" dropdown>
            <a class="dropdown-toggle text-light" dropdownToggle>Bem Vindo {{user.username | titlecase}}</a>
            <div class="dropdown-menu mt3 dropdown-menu-right" style=" text-align: end;" *dropdownMenu>
                <a class="dropdown-item">Editar Perfil</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()">Sair</a>
            </div>
        </div>
        
    </div>
</nav>