<ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
        <a *ngIf="!chartPage" class="nav-link active" aria-current="page" style="cursor: pointer;"
            (click)="changeTab()">
            <i-bs name="card-text" width="1rem" height="1rem">
            </i-bs>
        </a>
        <a *ngIf="chartPage" class="nav-link " aria-current="page" style="cursor: pointer;" (click)="changeTab()">
            <i-bs name="card-text" width="1rem" height="1rem">
            </i-bs>
        </a>
        <!-- <button type="button" style="background-color: transparent;height: fit-content;" class="btn btn-default btn-lg"> -->


    </li>
    <li class="nav-item">
        <a *ngIf="!chartPage" class="nav-link" style="cursor: pointer;" (click)="changeTab()">
            <i-bs name="bar-chart" width="1rem" height="1rem">
            </i-bs>
        </a>
        <a *ngIf="chartPage" class="nav-link active" style="cursor: pointer;" (click)="changeTab()">
            <i-bs name="bar-chart" width="1rem" height="1rem">
            </i-bs>
        </a>
    </li>

</ul>

<ng-container *ngIf="!chartPage">
    <nav aria-label="Page navigation example" style="margin-top: 2.5%;">
        <ul class="pagination justify-content-end">
            <li class="page-item" *ngIf="page > 1 ">
                <a class="page-link" (click)="getCotacoes(page - 1)" tabindex="-1">Anterior</a>
            </li>
            <li class="page-item disabled" *ngIf="page == 1 ">
                <a class="page-link" (click)="getCotacoes(page - 1)" tabindex="-1">Anterior</a>
            </li>
            <div  *ngIf=" numberOfPages <= 5; then  name ">

                <div  *ngFor="let item of [].constructor(this.numberOfPages); let i = index">
                    <li class="page-item active" *ngIf="page == i+1"><a class="page-link"
                            (click)="getCotacoes(i + 1)">{{i+1}}</a></li>
                    <li class="page-item" *ngIf="page != i+1"><a class="page-link" (click)="getCotacoes(i + 1)"
                            tabindex="0">{{i+1}}</a></li>
                </div>
            </div>

            <ng-template #name>
                <div *ngFor="let item of [].constructor(this.numberOfPages); let i = index">
                    <div *ngIf="i < 2 || i >= this.numberOfPages - 2">
                        <li class="page-item active" *ngIf="page == i+1"><a class="page-link"
                                (click)="getCotacoes(i + 1)">{{i+1}}</a></li>
                        <li class="page-item " *ngIf="page != i+1"><a class="page-link" (click)="getCotacoes(i + 1)"
                                tabindex="0">{{i+1}}</a></li>
                    </div>
    
                    <div *ngIf="i == 5 ">
                        <li class="page-item"><a class="page-link">...</a></li>
                    </div>
    
                </div>
            </ng-template>

            <li class="page-item" *ngIf="page < numberOfPages">
                <a class="page-link" (click)="getCotacoes(page + 1)" tabindex="1">Próximo</a>
            </li>
            <li class="page-item disabled" *ngIf="page >= numberOfPages">
                <a class="page-link" (click)="getCotacoes(page + 1)" tabindex="1">Próximo</a>
            </li>
        </ul>
    </nav>
    <table class="table table-striped" style="margin-bottom: 5%;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Data</th>
                <th scope="col">Cotação</th>
                <th scope="col">Máxima</th>
                <th scope="col">Mínima</th>


            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let c of items; let i=index">

                <tr>
                    <th scope="row">{{c.id}}</th>
                    <td>{{c.data | date : 'dd/MM/yyyy hh:mm'}}h</td>
                    <td>{{c.valor}}</td>
                    <td>{{c.high}}</td>
                    <td>{{c.low}}</td>

                </tr>
            </ng-container>


        </tbody>
    </table>
</ng-container>

<ng-container *ngIf="chartPage">


    <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [legend]="legend" [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel" [timeline]="timeline" [results]="data" (select)="onSelect($event)"
        (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
    </ngx-charts-line-chart>

</ng-container>