<header>
  <app-nav></app-nav>
</header>
<div *ngIf="loaderService.isLoading | async" 
      style="position: fixed;
             top: 0;
             left: 0;
             right: 0;
             bottom: 0;
             height: 100%;
             width: 100%;
             z-index: 9998;
             background-color: black;
             background-size: cover;
             opacity: 0.6;" 
      [ngStyle]="{ 'height.px' : myHeight ? myHeight : '7000' }" >
      
    </div>
    <div *ngIf="loaderService.isLoading | async" class="loader" style="align-self: center;"></div> 

<div class="container" style="margin-top: 100px;" > 
  <router-outlet></router-outlet>
</div>
