<div class="input-group mb-3">
    <div class="input-group-append">
        <div class="btn-group" dropdown #dropdown="bs-dropdown" [autoClose]="false">
            <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                aria-controls="dropdown-basic">
                {{type}} <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                <li role="menuitem" style="cursor: pointer;"><a class="dropdown-item"
                        (click)="setType('Colaborador')">Colaborador</a>
                    <div class="dropdown-divider"></div>
                </li>
                <li role="menuitem" style="cursor: pointer;"><a class="dropdown-item"
                        (click)="setType('Cliente')">Cliente</a>
                </li>

            </ul>
        </div>
    </div>
    <!-- <div style="width: 10px;"></div> -->

    <input type="text" class="form-control" [(ngModel)]="filter" (ngModelChange)="getHistorico(this.page);"
        placeholder="Nome" aria-label="Nome" aria-describedby="basic-addon1">
    
</div>



<nav aria-label="Page navigation example" style="margin-top: 2.5%;">
    <ul class="pagination justify-content-end">
        <li class="page-item" *ngIf="page > 1 ">
            <a class="page-link" (click)="getHistorico(page - 1)" tabindex="-1">Previous</a>
        </li>
        <li class="page-item disabled" *ngIf="page == 1 ">
            <a class="page-link" (click)="getHistorico(page - 1)" tabindex="-1">Previous</a>
        </li>

        <!-- 
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>-->
        <div *ngFor="let item of [].constructor(this.numberOfPages); let i = index">
            <li class="page-item active" *ngIf="page == i+1"><a class="page-link"
                    (click)="getHistorico(i + 1)">{{i+1}}</a></li>
            <li class="page-item " *ngIf="page != i+1"><a class="page-link" (click)="getHistorico(i + 1)"
                    tabindex="0">{{i+1}}</a></li>
        </div>

        <li class="page-item" *ngIf="page < numberOfPages">
            <a class="page-link" (click)="getHistorico(page + 1)" tabindex="1">Next</a>
        </li>
        <li class="page-item disabled" *ngIf="page >= numberOfPages">
            <a class="page-link" (click)="getHistorico(page + 1)" tabindex="1">Next</a>
        </li>
    </ul>
</nav>
<table class="table table-striped">
    <thead>
        <tr>
            <!-- <th scope="col">#</th> -->
            <th scope="col">Tipo</th>
            <th scope="col">Executor</th>
            <th scope="col">Cliente</th>
            <th scope="col">Data</th>

        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let h of items">
            <tr>
                <!-- <th scope="row">{{h.id}}</th> -->
                <td>{{h.acao}}</td>
                <td>{{h.colaboradorName}}</td>
                <td (click)="goToNewCliente(h.clienteId)" style="cursor: pointer;"><u >{{h.clienteName}}</u></td> 
                <td>{{h.data | date : 'dd/MM/yyyy  hh:mm'}}h</td>
            </tr>
        </ng-container>
    </tbody>
</table>
<!-- clienteId -->