<div class="input-group mb-3">

    <input type="text" class="form-control" [(ngModel)]="filter" (ngModelChange)="getClientes(page - 1)" placeholder="Nome" aria-label="Nome"
        aria-describedby="basic-addon1">
    <div style="width: 10px;"></div>
    <button type="button" class="btn btn-primary" (click)="goToNewCliente(0)">Novo Cliente</button>
</div>

<nav aria-label="Page navigation example" style="margin-top: 2.5%;">
    <ul class="pagination justify-content-end">
        <li class="page-item" *ngIf="page > 1 ">
            <a class="page-link" (click)="getClientes(page - 1)" tabindex="-1">Anterior</a>
        </li>
        <li class="page-item disabled" *ngIf="page == 1 ">
            <a class="page-link" (click)="getClientes(page - 1)" tabindex="-1">Anterior</a>
        </li>
        <div *ngFor="let item of [].constructor(this.numberOfPages); let i = index">
            <li class="page-item active" *ngIf="page == i+1"><a class="page-link"
                    (click)="getClientes(i + 1)">{{i+1}}</a></li>
            <li class="page-item " *ngIf="page != i+1"><a class="page-link" (click)="getClientes(i + 1)"
                    tabindex="0">{{i+1}}</a></li>
        </div>

        <li class="page-item" *ngIf="page < numberOfPages">
            <a class="page-link" (click)="getClientes(page + 1)" tabindex="1">Próximo</a>
        </li>
        <li class="page-item disabled" *ngIf="page >= numberOfPages">
            <a class="page-link" (click)="getClientes(page + 1)" tabindex="1">Próximo</a>
        </li>
    </ul>
</nav>
<table class="table table-striped" style="margin-bottom: 5%;">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Email</th>
            <th scope="col">Nome</th>
            <th scope="col">RG</th>
            <th scope="col">Detalhes</th>
            
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let c of clientes; let i=index">

            <tr>
                <th scope="row">{{c.id}}</th>
                <td>{{c.userName}}</td>
                <td>{{c.name}}</td>
                <td>{{c.rg}}</td>
                <td>
                    <button type="button" style="background-color: transparent;height: fit-content;" class="btn btn-default btn-lg"
                        (click)="goToNewCliente(c.id)">
                        <i-bs name="search" width="1rem" height="1rem">
                        </i-bs>
                    </button>
                </td>
            </tr>
        </ng-container>


    </tbody>
</table>