<div class="container-mt-5" style="margin-top: 20%;">
    <div class="card shadow p-3 mb-5 bg-white rounded" style="padding: 3%;width: 40%;height: 40%;margin: auto;border-color: transparent; ">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-body">
            <div *ngIf="!registerMode" style="text-align: center;">
                <div class="column" style="margin: auto;">
                    <app-login (cancelLogin)="registerToggle($event)"></app-login>
                </div>
            </div>
            <div *ngIf="registerMode">

                <div class="column" style="margin: auto;">
                    <app-register (cancelRegister)="registerToggle($event)"></app-register>
                </div>
            </div>
        </div>
    </div>

</div>