<div class="alert-box">
    <div class="modal-header">
        <h4 class="modal-title">Confirmar Dados Extraídos</h4>

    </div>
    <div class="modal-body">

        <!-- <div class="form-check" *ngFor="let item of checkboxData">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
            <label class="form-check-label" for="flexCheckDefault">

            </label>
        </div> -->
        <div *ngFor="let item of checkboxData">
            {{item.name}} - {{item.value}}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onConfirm()">Confirmar</button>
        <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancelar</button>
    </div>
</div>