<div style="margin-left: 15%;margin-right: 15%;">
    <form [formGroup]="validationForm" (ngSubmit)="register()" autocomplete="false">
    
        <h1 class="text-center text-primary">Registrar</h1>
        <br>
        <div class="form-group">
            <input type="text" id="username" formControlName="userName" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="password" formControlName="password" id="password" class="form-control" placeholder="Senha">
            <!-- <input type="password" id="inputPassword" class="form-control" placeholder="Confirm password" required=""> -->
        </div>
        <div class="form-group" style="margin-bottom: 10%;">
            <input type="password" formControlName="password2" id="password2" class="form-control" placeholder="Confirmar Senha">
            <!-- <input type="password" id="inputPassword" class="form-control" placeholder="Confirm password" required=""> -->
        </div>
        <div class="form-group text-center">
            <!-- <button class="btn btn-secondary mr-2"  (click)="cancel()" type="submit">Cancel</button> -->
            <button class="btn btn-success mr-2" style="width: 100%;"  [disabled]="!validationForm.valid" type="submit">Registrar</button>
            <!-- <p class="mt-5 mb-3 text-muted">© Desafio MostQI - 2021</p> -->
            <p class="mt-5 mb-3 text-muted" >Já tem uma conta? <a (click)="cancel()" style="color: blue;cursor: pointer;">Login </a></p>
        </div>
    </form>
</div>
